#jb-container {
	width: 90%;
	margin: 10px auto;
	padding: 20px;
	border: 1px solid #bcbcbc;
}

#jb-header {
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #bcbcbc;
}

#jb-content {
	width: 90%;
	padding: 20px;
	margin-bottom: 20px;
	border-top : 1px solid gray;
	border-bottom: 1px solid gray;
	margin: 0 auto;
}

#jb-sidebar {
	width: 260px;
	padding: 20px;
	margin-bottom: 20px;
	float: right;
	border: 1px solid #bcbcbc;
}

#jb-footer {
	margin-top: 2%; clear : both;
	padding: 20px;
	border: 1px solid #bcbcbc;
	clear: both;
}

@media ( max-width : 480px ) {
	#jb-container {
		width: auto;
	}
	#jb-content {
		float: none;
		width: auto;
	}
	#jb-sidebar {
		float: none;
		width: auto;
	}
}

div li {
	cursor: pointer;
}

.max15 {
	max-width: 250px;
}

.empRgst label {
	font-size: 20px;
}

.empRgst {
	margin-bottom: 5%;
	border-bottom: 1px solid #cbeffe;
}

.margn-l5 {
	margin-left: 5%;
}

.pic-rayout {
	width: 210px;
	height: 280px;
	border: 1px solid black;
	text-align: center;
	cursor : pointer;
}

.pic-rayout p {
	margin: 100px 0px;
}

.mrgn-top5 {
	margin-left: 55px;
	margin-top: 30%;
}

.min15 {
	min-width: 250px;
}
.bold{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid black;
}

.add-on{
	cursor:pointer;
	font-size: auto;
}

#pagin{
	background-color: white;
}

table{border-collapse:collapse;width:1080px; margin:0 auto;overflow:hidden;border:1px solid #ccc;}
table thead{float:left;width:1080px;border-bottom:1px solid #ccc;}
table thead tr{display:table;width:1080px;}

table tbody{float:left;width:1080px;height:700px;overflow-y:auto;overflow-x:hidden;}
table tbody tr{display:table;width:1080px;border-bottom:1px solid #ccc;}
table tbody tr:last-child{border-bottom:none;}

table tbody td{text-align:center;}







.max30{
	max-width: 30%;
}