<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.system.hr.apt.mapper.AptMapper">

	<insert id="insertAppointment" parameterType="AptmntVO">
		INSERT
		INTO appointment
		VALUES (
		#{empCode},
		sysdate,
		#{appointType},
		#{beforeDept},
		#{afterDept},
		#{afterPosition},
		#{afterDuty},
		''
		)
	</insert>


</mapper>
 