<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.system.hr.dept.mapper.DeptMapper">
	<select id="getDept" resultType="deptVO">
		SELECT  d1.DEPT_CODE, d1.DEPT_NAME,
		d1.PARENT_DEPT, d2.dept_name as parent_dept_name,
        d1.APPOINT_DATE, d1.END_DATE, d1.BIGO FROM
		DEPTMASTER d1, DEPTMASTER d2
		where
		d1.DEPT_NAME LIKE '%'||#{deptName}||'%'
        and d1.parent_dept = d2.dept_code(+)
	</select>
	<select id="getDeptList" resultType="deptVO">
		SELECT  d1.DEPT_CODE, d1.DEPT_NAME,
		d1.PARENT_DEPT, 
		d2.dept_name as parent_dept_name,
        to_char(to_date(d1.APPOINT_DATE),'YYYY-MM-DD') as APPOINT_DATE, 
        to_char(to_date(d1.END_DATE),'YYYY-MM-DD') as END_DATE, 
        d1.BIGO FROM
		DEPTMASTER d1, DEPTMASTER d2
		where
		d1.parent_dept = d2.dept_code(+)
	</select>
	<select id="getDeptListByLevel" resultType="deptVO">
		SELECT
		dept_code,
		dept_name,
		parent_dept,
		level
		FROM
		DEPTMASTER
		START WITH
		dept_code =
		'D01000'
		CONNECT BY
		PRIOR dept_code = parent_dept
	</select>
	<select id="getDeptBydeptCode" resultType="deptVO">
		SELECT DEPT_CODE,
		DEPT_NAME, PARENT_DEPT, APPOINT_DATE, END_DATE, BIGO FROM
		DEPTMASTER
		where
		DEPT_CODE = #{deptCode}
	</select>


	<insert id="insertDept" parameterType="deptVO">
		INSERT INTO DEPTMASTER
		(DEPT_CODE
		, DEPT_NAME
		, PARENT_DEPT
		, APPOINT_DATE
		<if test="bigo!=null">
		, BIGO
		</if>
		 )
		VALUES(
		#{deptCode}
		, #{deptName}
		, #{parentDept}
		, #{appointDate} 
		<if test="bigo!=null">
		, #{bigo}
		</if>
		)
	</insert>
</mapper>
