<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.system.hr.emp.mapper.EmpMapper">
	<select id="getEmployee" resultType="employeeVO" >
		SELECT * FROM EMPMASTER where emp_code = #{empCode}
	</select>


	<insert id="insertEmployee" parameterType="employeeVO">
INSERT
    INTO EMPMASTER (
        emp_code,
        emp_name_kor,
        emp_name_eng,
        emp_name_chi,
        dept_code,
        phone_number,
        position,
        duty,
        emp_status,
        start_date,
        pay_gubun,
        emp_type,
        email
    ) VALUES (
		#{empCode},
		#{empNameKor},
		#{empNameEng},
		#{empNameChi},
		#{deptCode},
		#{phoneNumber},
		#{position},
		#{duty},
		#{empStatus},
		#{startDate}, 
		#{payGubun},
		#{empType},
		#{email} 
		)
	</insert>
	
	<insert id="insertFamInfo" parameterType="famVO">
INSERT
    INTO fam_info (
        emp_code,
        no,
        name,
        birth,
        relation
    )
	VALUES (
		#{empCode}, 
		#{no}, 
		#{name}, 
		#{birth}, 
		#{relation}
		)
	
	</insert>
	<insert id="insertSchoolInfo" parameterType="SchoolVO">
INSERT
    INTO school_info (
        emp_code,
        no,
        name,
        major,
        period
    )
	VALUES (
		#{empCode},
		#{no},
		#{name},
		#{major},
		#{period}
		)
	</insert>
	<insert id="insertLicenseInfo" parameterType="LicenseVO">
INSERT
    INTO license_info (
        emp_code,
        no,
        name,
        issue_date,
        agency
    )
	VALUES (
	#{empCode}, 
	#{no}, 
	#{name}, 
	#{issueDate}, 
	#{agency}
	)
	</insert>
	<insert id="insertCareerInfo" parameterType="CareerVO">
	
INSERT
    INTO career_info (
        emp_code,
        no,
        name,
        work,
        period
    )
	VALUES (
	#{empCode}, 
	#{no}, 
	#{name}, 
	#{work}, 
	#{period}
	)
	</insert>
	
</mapper>
